<div id="page_wrapper">

<!-- this adds content to my about page -->
  <div class="two_thirds">
    <h1></h1>
    <p>Hi, I’m Monique, an ever-curious food enthusiast who is also passionate about Ayurveda. I find the idea of food as medicine facinating and love that Ayurveda is the oldest form of holistic medicine. Each food has specific properties, i.e., walnuts are good for headaches (and coincidentally are shaped like a brain). Based on what dosha may be out of balance, you can acheive balance by catering your diet to specific foods to aid in a faster recovery. VEDA provides ingredient substitutions for recipes.</p>
  </div>
</div>
