<div id="page_wrapper">
<!-- this adds a profile image if I want one -->
  <!-- <div id="profile_image"> -->
    <!-- <%= image_tag put image double quotes %> -->
  </div>

<!-- this adds content to my about page -->
  <div id="content">
    <h1>Hey, I'm Monique Wolf</h1>
    <p></p>
  </div>
</div>