<div id="page_wrapper">

<!-- this adds content to my about page -->
  <div class="two_thirds">
    <p class="three-col"> Olive Oil (heating)
    <br>
    Cooling substitutes: sunflower oil and coconut oil
    <br>
    Honey (heating)
    <br>
    Cooling substitute: maple syrup
  </div>
</div>