<div id="page_wrapper">

<!-- this adds content to my about page -->
	<%= image_tag "substitutionsFNL.png" %>
  <div class="two_thirds">
    <h1>Here's a list of ingredient substitutions to consider while cooking</h1>
    <p class="two-col"> HONEY (heating)
    <br>
    Cooling substitute: maple syrup
    <br>
    <br>
    OLIVE OIL (heating)
    <br>
    Cooling substitutes: sunflower oil and coconut oil
    <br>
    <br>
    WALNUTS (drying)
    <br>
    Substitute: almonds  
  </div>
</div>