/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'normalize';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

/** {
   border: 1px solid red !important;
}*/


/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*container-------------------------------------------------------------------------*/
.container{
  margin:0 auto;
  width: 1100px;
}


h1 {
  line-height: 1.2em;
}

h3 {
  font-size: 1.7em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #e2c1b7;
}

h4 {
  font-size: 1.2em;
  line-height: 1.7em;
  color: #e2c1b7;
}

p {
  line-height: 1.5em;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f3ebe9;

}


/*navigation/header-----------------------------------------------------------------*/
.navbar {
  margin: 3% 0;
  font-size: .85em;

}

.navlinks {
  color: green;
}

.navlinks:hover {
  color: #e2c1b7;
}



.search {
  color: #fff;
  background-color: #fff;
  width: 20em;
  height: 1.35em;
  text-align: right;
  padding-top: .15em;
  float: right;
}

.logo {
  margin-top: 8%;
  margin-bottom: 4%;
  width: 50%;
  height: 50%;
}

/*----------------------------------------------------------------------------------*/

/*modal window----------------------------------------------------------------------*/
.overlay-back {
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100vw;
  height     : 100vh;
  background : #000;
  opacity    : 0.65;
  z-index: 5;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
}

#modal {
  position: fixed;
  top: -375px;
  z-index: 1000;
  left:0;
  right:0;
  border-radius: 15px;
  margin-left:auto;
  margin-right:auto;
  width: 35%;
  min-width: 360px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  transition: all 0.25s ease-in-out;
  /* Transition */
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  /* Box Shadow */
  box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.25);
}

.modal-title {
  font-size: 2.5em;
  font-weight: 300;
  color: #2e2e2e;
  font-weight: 300;
  padding: 0 15px 15px 15px;
}

.modal-body{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.modal-footer {
  display: inline-block;
  padding: 10px;
  font-size: 1.5em;
}

#close-about {
  color: #e2c1b7;
  text-align: right;
  padding: .5em .75em 0 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
}

#close-about:hover {
  color: black;
}

#join{
  color: #8d8a8a;
  font-size: 1.13em;
}

/*----------------------------------------------------------------------------------*/


/*posts-----------------------------------------------------------------------------*/

.main_content{
  width:100%;
}

p.body{
  width: 68%;
}

.two_thirds {
  width: 68%;
}

.photo {
  width: 68%;
}

.date {
	font-size: .75em;
	display: inline-block;
	text-transform: uppercase;
	margin-top: -.75em;
}


/*----------------------------------------------------------------------------------*/

/*comments--------------------------------------------------------------------------*/

/*element.style {
  margin: 0px;
  width: 836px;
  height: 111px;
}*/

/*sidebar---------------------------------------------------------------------------*/

.sidebar_third {
  width: 14.25em;
  height: 28.3em;
  float: right;
  padding: 1% 2% 1%;
  background: white;
  text-align: center;
  margin-bottom: 1em;
}

.smedia{
  width: 100%;
}

.icons {
  width: 12%;
  height: 12%;
  padding: .7em .7em 0 .7em;
  display: inline-block;
  position: relative;
}


/*.sidebar img {
	position: relative;
	margin: 0 5% 0 5%;
	width: 10%;
	height: 10%;
	padding: 1.3em 0 .25em;
}*/
