/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'normalize';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

/** {
   border: 1px solid red !important;
}
*/



/* Don't let iOS and WinMobile mobile-optimize text for you */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.background{
	background-color: green;
}

/*navigation/header--------------------------------------------------------------*/

/*this affects home and about links*/
a:-webkit-any-link {
  color: #000;
  text-decoration: none;
  cursor: auto;
  margin-right: 2%;
}

#search{
	color: #fff;
}

.navbar{
	margin-top: 2%;
	hover: #e2c1b7;

	#search{
		float: right;
		background-color: #fff;
		margin-right: 13%;
		width: 21em;
		height: 1.35em;
		text-align: right;

	}

}
#logo {
	margin-top: 8%;
	margin-bottom: 4%;
	width: 50%;
	height: 50%;
}

background{ 
	color: #dae4e9;
}

h1{
	line-height: 1.2em;
}

p{
	line-height: 1.5em;
}

html, body {
	font-family: 'Quicksand', sans-serif;
}

/*.head {
	width: 37.5em;
	position: absolute;
	display: block;
}*/

/*body----------------------------------------------------------------------*/

body{
	margin-left: 13%;
	background-color: #f3ebe9;
}

h3 {
  font-size: 2.1em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  color: #e2c1b7;
}

h4{
	font-size: 1.5em;
	line-height: 1.7em;
	color: #e2c1b7;
}

body {
	.sidebar {
		width: 228px;
		float: right;
		padding: 0 2% 2%;
		height: 100%;
		background: white;	
		margin-right: 13%;
		margin-left: 2em;
		text-align: center;


		a {
		position: relative;
		margin-right: 1%;
		display: inline;
		}

		img {
			position: relative;
			margin: 0 5% 0 5%;
			width: 10%;
			height: 10%;
			padding: 1.3em 0 .25em;
		}



		hr {
			margin-bottom: white solid 1px;
			color: #e2c1b7;
		}
	}
}
