// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.back_bottom {
  background: white;
  width: 1100px;
  height: 20px;
  padding: 1em;
  color: #e2c1b7;

}*/