/*@media (min-width: 40rem) {
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  

  .sidebar {
			clear: both;
			max-width: 200px;
		}
		#search {
			clear: both;
		}
}*/



/*@media screen and (min-width: 480px){
	.column.two-thirds { width: 66.7%; }
	.sidebar {
		clear: both;
		max-width: 14em;
	}
	#search {
		clear: both;
	}
}


@media screen and (min-width: 660px){
}
*/
