@media screen and (min-width: 480px){
	body {
		.sidebar {
			clear: both;
			max-width: 200px;
		}
		#search {
			clear: both;
		}
	}
}

@media screen and (min-width: 660px){
	body {
		/*background: green;*/
	}
}